{% extends 'master.html' %}
{% block content %}
	<h1 class="text-info text-center">Paying for {{ product.name }}</h1>
    <h2 class=" text-info  text-center">ksh. {{ product.price }}</h2>
    <form class="row mx-auto col-10 col-md-8 col-lg-6 d-flex flex-column" method="post" action="/pay/{{ product.id }}">
    {% csrf_token %}
        <label>
            <input  class="form-control " required placeholder="Enter phone (2547___" name="phone-number" type="text">
        </label>
        <label>
             <input class=" btn btn-outline-success " value="Pay" type="submit">
        </label>

    </form>
{% endblock %}